---
pageable: true
per_page: 6
---
= partial 'shared/main_header'

%main#content.content{role: :main}
  .about
    .headline
      %p We're doing something a little different.
      %p We're auditing the Ruby open source ecosystem, one gem at a time. 
      %p And we need your help.
    %h3 Here are some packages we've already reviewed:

  = partial('shared/page_articles',
            locals: { page_articles: page_articles, paginate: paginate })
